.connexion_inscription {
  width: 50%;
  background-color: #fff;

  padding: 2rem 0;
  margin: 3rem auto;
}
.connexion_inscription .choix-connection_inscription {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.connexion_inscription .choix-connection_inscription .connection,
.connexion_inscription .choix-connection_inscription .inscription {
  width: 40%;
}
.connexion_inscription .choix-connection_inscription .connection.sectActive,
.connexion_inscription .choix-connection_inscription .inscription.sectActive {
  border: 1px solid black;
  border-bottom: 0;
}

.connexion_inscription
  .choix-connection_inscription
  .connection:not(.sectActive),
.connexion_inscription
  .choix-connection_inscription
  .inscription:not(.sectActive) {
  border: 0;
  border-bottom: 1px solid black;
}
.connexion_inscription .choix-connection_inscription .connection button,
.connexion_inscription .choix-connection_inscription .inscription button {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border: 0;
  cursor: pointer;
}
.connexion_inscription .choix-connection_inscription .connection button span,
.connexion_inscription .choix-connection_inscription .inscription button span {
  font-size: 20px;
  font-weight: bold;
}
.connexion_inscription .contenu-connection_inscription {
  width: 80%;
  margin: 0 auto;
}

.connexion_inscription .contenu-connection_inscription section {
  display: none;
}
.connexion_inscription .contenu-connection_inscription .actif {
  display: block;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  .div-id {
  margin-bottom: 1rem;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  .div-id
  p {
  text-align: left;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  form
  div
  fieldset
  legend,
.contenu-inscription form div fieldset legend {
  text-align: left;
  padding: 0.2rem;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  form
  div
  fieldset,
.contenu-inscription form div fieldset {
  padding: 0.35em 0.75em 0.625em;
  position: relative;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  form
  div
  fieldset
  div
  input,
.contenu-inscription form div fieldset div input {
  outline: none;
  width: 100%;
  border: 0;
  font-size: 16px;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  form
  div
  fieldset
  div,
.contenu-inscription form div fieldset div {
  display: flex;
  justify-content: space-between;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  form
  div
  fieldset
  div
  img,
.contenu-inscription form div fieldset div img {
  width: 20px;
  cursor: pointer;
  display: none;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  form
  div
  fieldset
  div
  img.oeilActif,
.contenu-inscription form div fieldset div img.oeilActif {
  display: block;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  form
  div.div-email,
.contenu-inscription form div.div-email {
  margin-bottom: 1rem;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  form
  div.div-mdp {
  margin-bottom: 2rem;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  form
  .btn-connecter,
.btn-inscription {
  width: 100%;
  background-color: #fff;
  border: solid 1px black;
  height: 50px;
  font-size: 16px;
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  form
  div.connecter-oublier {
  display: flex;
  justify-content: space-between;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  form
  div.connecter-oublier
  .sect-connecter
  input {
  cursor: pointer;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  form
  div.connecter-oublier
  .sect-connecter
  label {
  margin-left: 10px;
  cursor: pointer;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-connection
  form
  div.connecter-oublier
  .sect-oublier
  p
  a {
  text-underline-offset: 0.5rem;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-inscription
  form
  div.div-username,
.connexion_inscription
  .contenu-connection_inscription
  .contenu-inscription
  form
  div.div-firstname,
.connexion_inscription
  .contenu-connection_inscription
  .contenu-inscription
  form
  div.div-mdp,
.div-civilite,
.div-pays {
  margin-bottom: 1rem;
}
.connexion_inscription
  .contenu-connection_inscription
  .contenu-inscription
  form
  div.div-confirmer-mdp {
  margin-bottom: 2rem;
}
.btn-inscription {
  margin-bottom: 1rem;
}
.message-informatif {
  text-align: right;
}

.error {
  text-align: left;
  color: red;
  margin-top: 0.5rem;
}

#passRequirements {
  height: fit-content;
  position: absolute;
  min-height: 100px;
  flex-wrap: wrap;
  margin-top: 0;
  left: -1px;
  bottom: 95px;
  padding: 0 0.5rem;
  z-index: 199;
  background: #fafafa;
  border: solid 1px gray;
  width: 250px;
  transform: translateY(25%);
  display: none;
}
#passRequirements.visible {
  display: flex;
}
#passRequirements .requirement {
  color: gray;
  position: relative;
  top: initial;
  right: initial;
  font-size: 14px;
  min-width: max-content;
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
}
#passRequirements .requirement:first-of-type {
  margin-top: 5px;
}
.legend-mdp {
  padding: 0 5px;
  position: relative;
  bottom: 2px;
  display: flex;
  align-items: center;
}
.legend-mdp .infobulleMdp {
  cursor: pointer;
  margin-left: 0.5rem;
  background-color: transparent;
  border: 0;
}
.legend-mdp .infobulleMdp .icon-info {
  width: 16px;
  height: 16px;
}
.div-civilite .civilite-no-error,
.div-pays .pays-no-error {
  display: flex;
  align-items: center;
}
.div-civilite div p,
.div-pays div p {
  font-weight: bold;
}
.listeCivilite {
  display: flex;
  margin-left: 1.5rem;
}
.listeCivilite div label {
  margin-left: 10px;
}
.listeCivilite div:not(:last-of-type) {
  margin-right: 2rem;
}
.listePays {
  margin-left: 1.5rem;
}
.listePays select {
  height: 30px;
  outline: none;
}
