.section-home {
  margin-bottom: 3rem;
}
.search-home {
  height: 270px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}
.search-home h2 {
  color: #fff;
  margin: 2rem 0 1.5rem;
  @media screen and (max-width: 767px) {
    margin: 1.5rem 0;
  }
}

.search-home .phrase-accroche p {
  color: #fff;
}
.search-home .phrase-accroche {
  margin-bottom: 1.5rem;
}
.search-home form button {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}
.search-home form .input-loupe {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  border: 1px solid black;
  background-color: #f6ece1;
  padding: 0.5rem;
  width: 250px;
  position: relative;
}
.search-home form .input-loupe input {
  outline: none;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
}

.search-home form .input-loupe ul {
  position: absolute;
  left: 0;
  top: 30px;
  background-color: #f6ece1;
  z-index: 1;
  width: 100%;
}
.search-home form .input-loupe ul li {
  text-align: left;
  list-style: none;
  padding: 0.5rem;
}
.search-home form .input-loupe ul li:hover {
  background-color: #b25133;
}
.search-home form .input-loupe ul li a {
  text-decoration: none;
  width: 100%;
  display: block;
}
.search-home form .input-loupe ul li a img {
  width: 20px;
}
.search-home form .input-loupe ul li:hover a {
  color: beige;
  font-weight: bold;
}
.section-dif-ville h2 {
  margin-bottom: 2rem;
}
.section-dif-ville .differente-ville {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.section-dif-ville .differente-ville article .map-container {
  height: 300px;
  width: 100%;
  @media screen and (max-width: 1200px) {
    height: 250px;
  }
}
.section-dif-ville .differente-ville article .data-ville {
  background-color: #d9d9d9;
}
.section-dif-ville .differente-ville article .data-ville h3 {
  text-align: left;
  padding: 0.5rem 0.5rem 0;
}
.section-dif-ville .differente-ville article .data-ville h3 a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.section-dif-ville .differente-ville article .data-ville h3 a:hover {
  color: blue;
}
.section-dif-ville .differente-ville article .data-ville .temp-previ p {
  display: flex;
  padding: 0.5rem;
  font-weight: bold;
}
