#sect-prevision {
  max-width: 95%;
  margin: 50px auto;
  @media screen and (max-width: 767px) {
    margin: 30px auto;
  }
}
#sect-prevision .container-prevision .ville-container {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
#sect-prevision .container-prevision:not(:last-of-type) {
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}
#sect-prevision .container-prevision:not(:first-of-type) {
  padding-top: 35px;
}
#sect-prevision .container-prevision .ville-container .prevision-ville {
  width: 55%;
  @media screen and (max-width: 1200px) {
    width: 50%;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 30px;
  }
}
#sect-prevision
  .container-prevision
  .ville-container
  .prevision-ville
  article
  .map-container {
  width: 100%;
  height: 55vh;
  @media screen and (max-width: 1300px) {
    height: 50vh;
  }
  @media screen and (max-width: 767px) {
    height: 30vh;
  }
}
#sect-prevision .container-prevision .ville-container .prevision-jour {
  width: 35%;
  @media screen and (max-width: 1600px) {
    width: 40%;
  }
  @media screen and (max-width: 1200px) {
    width: 45%;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

#sect-prevision
  .container-prevision
  .ville-container
  .prevision-ville
  article
  .data-ville {
  display: flex;
  background-color: #d9d9d9;
  align-items: center;
  justify-content: space-around;
  height: 11vh;
  @media screen and (max-width: 1300px) {
    height: 12vh;
  }
  @media screen and (max-width: 767px) {
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
  }
}
#sect-prevision
  .container-prevision
  .ville-container
  .prevision-ville
  article
  .data-ville
  .img-temp {
  height: 100%;
  @media screen and (max-width: 767px) {
    height: 80px;
  }
}
#sect-prevision
  .container-prevision
  .ville-container
  .prevision-ville
  article
  .data-ville
  .img-temp
  img {
  height: 100%;
}
#sect-prevision
  .container-prevision
  .ville-container
  .prevision-ville
  article
  .data-ville
  h3
  span {
  font-size: 20px;
  font-weight: bold;
  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}
#sect-prevision
  .container-prevision
  .ville-container
  .prevision-ville
  article
  .data-ville
  .temp-previ
  p {
  font-weight: bold;
  font-size: 18px;
  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}
#sect-prevision .container-prevision .ville-container .prevision-ville h2,
#sect-prevision .container-prevision .ville-container .prevision-jour h2 {
  text-align: left;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}
#sect-prevision .container-prevision .ville-container .prevision-jour section {
  max-height: 66vh;
  overflow-y: scroll;
  overflow-x: hidden;
  @media screen and (max-width: 1300px) {
    max-height: 62vh;
  }
}
#sect-prevision
  .container-prevision
  .ville-container
  .prevision-jour
  section
  .forecast-previ {
  display: flex;
  background-color: #d9d9d9;
  height: 11.6vh;
  align-items: center;
  justify-content: space-around;
  @media screen and (max-width: 1300px) {
    height: 10.5vh;
  }
  @media screen and (max-width: 767px) {
    height: 15vh;
  }
}
#sect-prevision
  .container-prevision
  .ville-container
  .prevision-jour
  section
  .forecast-previ:not(:last-of-type) {
  margin-bottom: 20px;
}
#sect-prevision
  .container-prevision
  .ville-container
  .prevision-jour
  section
  .forecast-previ
  h3 {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: flex-start;
  width: 35%;
  @media screen and (max-width: 1200px) {
    width: 40%;
  }

  @media screen and (max-width: 992px) {
    text-align: left;
    width: 45%;
  }
}
#sect-prevision
  .container-prevision
  .ville-container
  .prevision-jour
  section
  .forecast-previ
  h3
  span {
  font-size: 20px;
  @media screen and (max-width: 1600px) {
    font-size: 16px;
  }
}
#sect-prevision
  .container-prevision
  .ville-container
  .prevision-jour
  section
  .forecast-previ
  h3
  span:nth-of-type(2) {
  font-weight: bold;
}
#sect-prevision
  .container-prevision
  .ville-container
  .prevision-jour
  section
  .forecast-previ
  .temperature
  p {
  font-weight: bold;
  font-size: 18px;
}
#sect-prevision
  .container-prevision
  .ville-container
  .prevision-jour
  section
  .forecast-previ
  .div-img {
  height: 100%;
}
#sect-prevision
  .container-prevision
  .ville-container
  .prevision-jour
  section
  .forecast-previ
  .div-img
  img {
  height: 100%;
}
#sect-prevision .container-prevision .social-section {
  margin-top: 30px;
}

#sect-prevision .container-prevision .social-section .btn-toggle-social {
  width: 100%;
  padding: 12px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  color: #495057;
  transition: background-color 0.2s;
  margin-bottom: 10px;
}
.no-data {
  margin: 50px;
  color: red;
  font-weight: bold;
}
