#user-profil {
  margin: 50px 0;
  @media screen and (max-width: 767px) {
    margin: 30px 0;
  }
}
#user-profil h2 {
  margin-bottom: 2rem;
}
#user-profil .information-user,
#user-profil .information-securite,
#user-profil .demande-supp {
  margin: 0 auto;
  width: 30%;
  @media screen and (max-width: 1300px) {
    width: 40%;
  }
  @media screen and (max-width: 1150px) {
    width: 50%;
  }
  @media screen and (max-width: 992px) {
    width: 65%;
  }
  @media screen and (max-width: 767px) {
    width: 90%;
  }
}
#user-profil hr {
  margin: 30px 0;
  height: 2px;
  border: 0;
  background-color: black;
}
#user-profil section h3 {
  text-align: left;
  margin-bottom: 20px;
}
#user-profil section form .style-div {
  margin-bottom: 1rem;
}
#user-profil section form .style-div fieldset {
  height: 50px;
  padding: 0.35em 0.75em 0.625em;
}
#user-profil section form .style-div.div-mdp fieldset div {
  display: flex;
  justify-content: space-between;
}
#user-profil section form .style-div.div-mdp fieldset div img {
  width: 20px;
  cursor: pointer;
  display: none;
}
#user-profil section form .style-div.div-mdp fieldset div img.oeilActif {
  display: block;
}
#user-profil section form .style-div fieldset legend {
  text-align: left;
  padding: 0 5px;
}
#user-profil section form .style-div fieldset div input {
  width: 100%;
  outline: none;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}
#user-profil .information-user form .div-civilite {
  display: flex;
}
#user-profil .information-user form .div-civilite p {
  margin-right: 10px;
}
#user-profil .information-user form .div-civilite .liste-civilite {
  display: flex;
}
#user-profil .information-user form .div-civilite .liste-civilite div {
  display: flex;
}
#user-profil
  .information-user
  form
  .div-civilite
  .liste-civilite
  div:not(:last-of-type) {
  margin-right: 20px;
}
#user-profil .information-user form .div-civilite .liste-civilite div input {
  margin-left: 5px;
}
#user-profil .information-user form .div-pays {
  display: flex;
  align-items: center;
}
#user-profil .information-user form .div-pays p {
  margin-right: 10px;
}
#user-profil .information-user form .div-pays .liste-pays {
  width: 100%;
  height: 30px;
}
#user-profil .information-user form .div-pays div select {
  width: 100%;
  outline: none;
  height: 100%;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}
#user-profil .demande-supp div p {
  text-align: justify;
  margin-bottom: 20px;
}
